
<div [formGroup]="form" class="expression-form">
    <div class="supr-calculator-container">
        <div class="input-container">
            <input class="expression-input" id="expression" formControlName="expression">
        </div>
        <div class="input-container">
            <input class="expression-input" id="expression" formControlName="result">
        </div>
    </div>
    <div class="keyboard-container">
        <button class="calculator-button" (click)="buttonClick('1')">1</button>
        <button class="calculator-button" (click)="buttonClick('2')">2</button>
        <button class="calculator-button" (click)="buttonClick('3')">3</button>
        <button class="calculator-button" (click)="buttonClick('4')">4</button>
        <button class="calculator-button" (click)="buttonClick('5')">5</button>
        <button class="calculator-button" (click)="buttonClick('6')">6</button>
        <button class="calculator-button" (click)="buttonClick('7')">7</button>
        <button class="calculator-button" (click)="buttonClick('8')">8</button>
        <button class="calculator-button" (click)="buttonClick('9')">9</button>
        <button class="calculator-button" (click)="buttonClick('0')">0</button>
        <button class="calculator-button" (click)="getRandomNumber()">RAND</button>
        <button class="calculator-button" (click)="buttonClick('+')">+</button>
        <button class="calculator-button" (click)="buttonClick('-')">-</button>
        <button class="calculator-button" (click)="buttonClick('*')">*</button>
        <button class="calculator-button" (click)="buttonClick('/')">/</button>
        <button class="calculator-button" (click)="buttonClick('cos')">cos</button>
        <button class="calculator-button" (click)="buttonClick('sin')">sin</button>
        <button class="calculator-button" (click)="buttonClick('tan')">tan</button>
        <button class="calculator-button" (click)="buttonClick('(')">(</button>
        <button class="calculator-button" (click)="buttonClick(')')">)</button>
        <button class="calculator-button" (click)="evaluateExpression()">=</button>
    </div>
</div>
