<div [formGroup]="form" class="expressio-form">
    <label for="expression">
        Expression
    </label>
    <input class="expression-input" id="expression" formControlName="expression">
    <div *ngIf="expression?.hasError('invalidExpression')">
        The expression is not correct
    </div>
    <div *ngIf="!expression?.hasError('invalidExpression')">
        <div>{{ result | async }}</div>
    </div>
    <button (click)="addResultToList()">Add result to list</button>
</div>


<div class="expression-list">
    Latest 5 results
    <div *ngFor="let item of filteredExpressionList" class="expression-row">
        <p>{{item.expression}}</p>
        <p>{{item.result}}</p>
    </div>
</div>

<!-- <button (click)="evaluateClick()">Evaluate</button> -->