<div class="calculator-container">

    <div [formGroup]="form" class="expression-form-container">
        <div class="input-container">
            <input class="expression-input" id="expression" formControlName="expression">
            <div *ngIf="allowErrorDisplay && expression?.hasError('invalidExpression')" class="error-message">
                The expression is not correct
            </div>
            <button (click)="addResultToList()">Add result to list</button>
        </div>
        <div class="result-container" *ngIf="!expression?.hasError('invalidExpression')">
            <div>Result:</div>
            <div>{{ result | async }}</div>
        </div>
    </div>
    
    
    <div class="expression-list">
        <div>Latest 5 expressions</div>
        <table class="latest-results-table">
            <thead class="">
                <tr>
                  <th>Expression</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of filteredExpressionList">
                    <td>{{item.expression}}</td>
                    <td>{{item.result | number:'0.0-2'}}</td>
                </tr>
              </tbody>
        </table>
    </div>
</div>